.custom-block
  border-radius 6px
  &.tip,
  &.warning,
  &.danger
    padding .1rem 1.5rem
    border-left-width .45rem 
    border-left-style solid
    margin 1rem 0
    word-break: break-word;
    line-height: 1.8;
  &.tip
    background-color var(--theme-accent-color-005);
    border-color var(--theme-accent-color)
  &.warning
    border-color darken(#ffe564, 30%)
    background-color: #fffde7
    color var(--theme-foreground-color)
    .custom-block-title
      color darken(#ffe564, 35%)
    a
      color var(--theme-foreground-color)
  &.danger
    border-color darken(#ec407a, 20%)
    color var(--theme-foreground-color)
    background-color: #ffebee
    .custom-block-title
      color darken(#ec407a, 10%)
    a
      color var(--theme-foreground-color)
  &.details
    display block
    position relative
    margin 1.6em 0
    padding 1.6em
    background-color var(--theme-accent-color-005)
    h4
      margin-top 0
    figure, p
      &:last-child
        margin-bottom 0
        padding-bottom 0
    summary
      outline none
      cursor pointer

html.dark {
  .custom-block {
    &.danger {
      background-color: darken(#ec407a, 85%)
    }
    &.warning {
      background-color: darken(#ffe564, 85%)
    }
  }
}